{{ $lazy := site.Params.enableImageLazyLoading | default true }}
{{ $altText := (site.Language.Params.Author.name | default "Author") }}
{{ $imagePath := site.Language.Params.Author.image | default "img/me.png" }}
{{ $authorImage := resources.Get $imagePath }}
{{ if $authorImage }}
  {{ $imgClass := "h-36 w-36 object-cover" }}
  {{ $webp := $.Page.Site.Params.enableImageWebp | default true }}
  <div class="home-profile-photo-frame">
    <div class="flex h-full w-full items-center justify-center">
      <div class="home-profile-avatar-zoom">
        {{ partial "picture.html" (dict "img" $authorImage "alt" $altText "class" $imgClass "lazy" $lazy "webp" $webp) }}
      </div>
    </div>
  </div>
{{ else }}
  <div class="home-profile-photo-frame">
    <div class="flex h-full w-full items-center justify-center">
      <div class="home-profile-avatar-zoom">
        <img
          src="{{ $imagePath | relURL }}"
          alt="{{ $altText }}"
          class="h-36 w-36 object-cover"
          {{ if $lazy }}loading="lazy" decoding="async"{{ end }}
        />
      </div>
    </div>
  </div>
{{ end }}
